<h4><%= Spree.t(:how_bank_transfer_works) %></h4>
<b><%= Spree.t(:steps) %>:</b>
<ol>
  <li><%= Spree.t(:step1) %>
    <% if (banks = Spree::Bank.active).any? %>
      <div style="padding:20px 0">
      <table border="1" align='center' width="80%">
        <tr>
          <th><%= Spree.t(:bank_name) %></th>
          <th><%= Spree.t(:account_no) %></th>
          <th><%= Spree.t(:additional_details) %></th>
        </tr>
        <% banks.each do |bank| %>
          <tr>
            <td><center><%= bank.name %></center></td>
            <td><center><%= bank.account_no %></center></td>
            <td><center><%= bank.additional_details %></center></td>
          </tr>
        <% end %>
      </table>
      </div>
    <% end %>
  </li>
  <li><%= Spree.t(:step2) %>:
    <ol style="padding:10px 0 0 20px" type='a'>
      <li><%= Spree.t(:step2a) %></li>
      <li><%= Spree.t(:step2b) %></li>
      <li><%= Spree.t(:step2c) %></li>
      <li><%= Spree.t(:step2d) %></li>
      <br><br>
      <%= image_tag 'payment_details.png' %>
    </ol>
  </li>
</ol>
